@import "./reset_styles_css";
@import "./root.css";

$field-size: 5;

body {
  background-color: var(--fon);
}
.header {
  margin-top: 2vh;
  height: 12vh;
  background-color: var(--fon);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.select {
  font-size: 2vmin;
  margin: 5px;
  border: 1px solid;
  border-radius: 5px;
  background-color: var(--fon-button);
  color: var(--fon-text);
  cursor: pointer;
}
.darck-mode {
  font-size: 2vmin;
  margin: 5px;
  border: 1px solid;
  border-radius: 5px;
  background-color: var(--fon-button);
  color: var(--fon-text);
  label {
    cursor: pointer;
  }
}

.darck-mode-checkbox {
  margin: 5px;
  cursor: pointer;
}

.music-mode {
  font-size: 2vmin;
  margin: 5px;
  border: 1px solid;
  border-radius: 5px;
  background-color: var(--fon-button);
  color: var(--fon-text);
  label {
    cursor: pointer;
  }
}

.music-mode-checkbox {
  margin: 5px;
  cursor: pointer;
}
.button {
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  background-color: var(--fon-button);
  font-size: 2vmin;
  color: var(--fon-text);
}
.title {
  display: block;
  margin: 0 auto;
  font-size: 6vmin;
  text-align: center;
  color: var(--fon-text);
}
.final-title {
  display: block;
  margin: 0 auto;
  font-size: 4vmin;
  text-align: center;
  color: var(--fon-text);
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.wrapper-cells {
  border: 0.5vmin solid var(--fon-black);
  display: grid;
  grid-template-columns: repeat(var(--grid), auto);
  grid-template-rows: repeat(var(--grid), auto);
  // display: flex;
  // flex-wrap: wrap;
  // width: var( --width);
  // height:var( --width);
  // margin-top: 200px;
  background-color: var(--fon-black);
  gap: 0.2vmin;
}
.game-cells {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 4vmin;
  height: 4vmin;
  // border: 1px solid rgba(72, 68, 68, 0.267);
  background-color: var(--fon-cells);
  cursor: pointer;
  &:nth-child(5),
  &:nth-child(10) {
    margin-right: 0.5vmin;
  }
  &:nth-child(50),
  &:nth-child(150) {
    margin-bottom: 0.5vmin;
  }
}

.cells-black {
  border: 1px solid var(--fon);
  background-color: var(--fon-black);
}
.cells-cross {
  background-color: var(--fon-cells-cross);
  .left-span {
    position: absolute;
    // display: block;
    width: 4vmin;
    height: 1px;
    border-radius: 1px;
    background-color: var(--fon-cross-span);
    transform: rotate(45deg);
  }
  .right-span {
    // display: block;
    width: 4vmin;
    height: 1px;
    border-radius: 1px;
    background-color: var(--fon-cross-span);
    transform: rotate(-45deg);
    // &::before{
    // content: "";
    // width: 5vmin;
    // height: 1px;
    // border-radius: 1px;
    // background-color: #403f3d;
    // transform: rotate(45deg);
    // }
  }
}

.wraper-left-tips {
  border: 0.5vmin solid var(--fon-black);
  display: grid;
  grid-template-columns: repeat(var(--left-tips-col), auto);
  background-color: var(--fon-black);
  grid-row-gap: 0.2vmin;
}
.left-tips-elem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vmin;
  width: 4vmin;
  height: 4vmin;
  color: var(--fon-text);
  // border: 1px solid rgba(72, 68, 68, 0.267);
  background-color: var(--fon-cells);
  // cursor: pointer;
  // &:nth-child(5),
  // :nth-child(10) {
  //   margin-right: 0.5vmin;
  // }
  &:nth-child(15),
  &:nth-child(60) {
    margin-bottom: 0.5vmin;
  }
}
.wraper-top-tips {
  border: 0.5vmin solid var(--fon-black);
  display: grid;
  grid-template-columns: repeat(var(--grid), auto);
  // grid-template-rows: repeat(1, auto);
  // display: flex;
  // flex-wrap: wrap;
  // width: var( --width);
  // height:var( --width);
  // margin-top: 200px;
  background-color: var(--fon-black);
  grid-column-gap: 0.2vmin;
}
.top-tips-elem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vmin;
  width: 4vmin;
  height: 4vmin;
  color: var(--fon-text);
  // border: 1px solid rgba(72, 68, 68, 0.267);
  background-color: var(--fon-cells);
  // cursor: pointer;
  // &:nth-child(5),
  // :nth-child(10) {
  //   margin-right: 0.5vmin;
  // }
  &:nth-child(5),
  &:nth-child(10) {
    margin-right: 0.5vmin;
  }
}

.wraper-tips-elem {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 0.2vmin;
}
.corner-playing-field {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vmin;
  width: auto;
  height: 100%;
  color: var(--fon-text);
  background-color: var(--fon-cells);
  border: 0.5vmin solid var(--fon-black);
}

.new-game-btn{

  display: block;
  margin: 0 auto;
  margin-top: 20px;
}