@import "./reset_styles_css";
@import "./root.css";

$field-size: 5;
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper-cells {
  border: 0.5vmin solid black;
  display: grid;
  grid-template-columns: repeat(var(--grid), auto);
  grid-template-rows: repeat(var(--grid), auto);
  // display: flex;
  // flex-wrap: wrap;
  // width: var( --width);
  // height:var( --width);
  // margin-top: 200px;
  background-color: black;
  gap: 0.2vmin;
}
.game-cells {
  width: 5vmin;
  height: 5vmin;
  // border: 1px solid rgba(72, 68, 68, 0.267);
  background-color: azure;
  cursor: pointer;
  &:nth-child(5),
  &:nth-child(10) {
    margin-right: 0.5vmin;
  }
  &:nth-child(50),
  &:nth-child(100) {
    margin-bottom: 0.5vmin;
  }
}

.cells-black {
  border: 1px solid white;
  background-color: black;
}
.cells-cross {
  background-color: aqua;
}

.wraper-left-tips {
  border: 0.5vmin solid black;
  display: grid;
  grid-template-columns: repeat(var(--left-tips-col), auto);
  // grid-template-rows: repeat(var(--grid), auto);
  // display: flex;
  // flex-wrap: wrap;
  // width: var( --width);
  // height:var( --width);
  // margin-top: 200px;
  background-color: black;
  grid-row-gap: 0.2vmin;
}
.left-tips-elem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 5vmin;
  height: 5vmin;
  // border: 1px solid rgba(72, 68, 68, 0.267);
  background-color: azure;
  cursor: pointer;
  // &:nth-child(5),
  // :nth-child(10) {
  //   margin-right: 0.5vmin;
  // }
  &:nth-child(15),
  &:nth-child(30) {
    margin-bottom: 0.5vmin;
  }
}
.wraper-top-tips {
  border: 0.5vmin solid black;
  display: grid;
  grid-template-columns: repeat(var(--grid), auto);
  // grid-template-rows: repeat(1, auto);
  // display: flex;
  // flex-wrap: wrap;
  // width: var( --width);
  // height:var( --width);
  // margin-top: 200px;
  background-color: black;
  grid-column-gap: 0.2vmin;

}
.top-tips-elem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 5vmin;
  height: 5vmin;
  // border: 1px solid rgba(72, 68, 68, 0.267);
  background-color: azure;
  cursor: pointer;
  // &:nth-child(5),
  // :nth-child(10) {
  //   margin-right: 0.5vmin;
  // }
  &:nth-child(5),
  &:nth-child(10) {
    margin-right: 0.5vmin;
  }
}

.wraper-tips-elem{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 0.2vmin;
}
.corner-playing-field{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vmin;
  width: auto;
  height: 100%;
  background-color: azure;
  border: 0.5vmin solid black;
}