@media (hover: hover) {
  .header-menu__item {
    li {
      :hover::after,
      :focus::after {
        transform: scaleX(1);
      }
    }
  }
  .header-menu__link {
    li {
      :hover::after,
      :focus::after {
        transform: scaleX(1);
      }
      img {
        margin-left: 5px;
      }
    }
  }
  .enjoy-link__menu {
    :hover {
      img {
        visibility: visible;
      }
    }
    :hover {
      span {
        margin-right: 30px;
        transition: all 1s;
      }
    }
  }
  .Favourites-Coffee_hover_left {
    transition: all 1s;
    :hover {
      transition: all 1s;
      background: url("../img/iconizer-arrow-left\ .svg") no-repeat;
      background-position: center center;
      background-color: #665f55;
    }
  }
  .Favourites-Coffee_hover_right {
    :hover {
      transition: all 1s;
      background: url("../img/wite_arrow-right.svg") no-repeat;
      background-position: center center;
      background-color: #665f55;
    }
  }
  .about-img {
    :hover {
      background-size: 100%;
      transition: all 1s;
    }
  }
  .Mobile-App__wrape_apple {
    :hover {
      transition: all 1s;
      .img-apple {
        background: url("../img/icon\ apple.svg") no-repeat;
        transition: all 1s;
      }

      background-color: #665f55;
      color: #e1d4c9;
      .text-apple {
        background: none;
        color: #e1d4c9;
        transition: all 1s;
      }

      li {
        background: none;
        color: #e1d4c9;
        transition: all 1s;
      }
      span {
        background: none;
        color: #e1d4c9;
        transition: all 1s;
      }
    }
  }
  .Mobile-App__wrape_google {
    :hover {
      transition: all 1s;
      .img-google {
        background: url("../img/icon\ google.svg") no-repeat;
        transition: all 1s;
      }

      background-color: #665f55;
      color: #e1d4c9;
      .text-google {
        background: none;
        color: #e1d4c9;
        transition: all 1s;
      }

      li {
        background: none;
        color: #e1d4c9;
        transition: all 1s;
      }
      span {
        background: none;
        color: #e1d4c9;
        transition: all 1s;
      }
    }
  }
  .footer-link__adress {
    :hover::after,
    :focus::after {
      transform: scaleX(1);
    }
  }
  .footer-link__phone {
    :hover::after,
    :focus::after {
      transform: scaleX(1);
    }
  }
  .twitter {
    :hover {
      border: 1px solid var(--border-light, #c1b6ad);
      background: url("../img/iconizer-twitter.svg") no-repeat;
      background-color: #e1d4c9;
      background-position: center center;
    }
  }
  .instagram {
    :hover {
      border: 1px solid var(--border-light, #c1b6ad);
      background: url("../img/instagram-black.svg") no-repeat;
      background-color: #e1d4c9;
      background-position: center center;
    }
  }
  .facebook {
    :hover {
      border: 1px solid var(--border-light, #c1b6ad);
      background: url("../img/iconizer-facebook.svg") no-repeat;
      background-color: #e1d4c9;
      background-position: center center;
    }
  }
  .menu-btn_Tea {
    :hover {
      background: var(--background-container, #e1d4c9);
      color: var(--text-light, #e1d4c9);
    }
  }
  .menu-btn_coffe {
        :hover {
      background: var(--background-container, #e1d4c9);
      color: var(--text-light, #e1d4c9);
    }
  }
  .menu-hover {
        :hover {
      cursor: pointer;
        background: var(--background-container, #665f55);
      color: var(--text-light, #e1d4c9);
      .menu-btn_Tea_img {
        background: var(--background-container, #e1d4c9);
      }
      .menu-btn_Dessert_img {
        background: var(--background-container, #e1d4c9);
      }
    }
  }
}
