* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
html {
  scroll-behavior: smooth;
  background: var(--background-body, #e1d4c9);
}
.popap-active_body {
  overflow: hidden;
}
.conteiner {
  position: relative;
  overflow: hidden;
  max-width: 1440px;
  padding: 11px 0px 40px 0px;
  align-items: center;
  gap: 100px;
  background: var(--background-body, #e1d4c9);
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}
.media {
  display: none;
}
.navbar {
  
  display: flex;
  justify-content: space-between;
  max-width: 1360px;
  align-items: center;
  align-self: stretch;
  margin: 0 auto;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 17px;
  a {
    color: #403f3d;
  }
}
.header-logo {
  margin-top: 5px;
}

.header-menu__item {
  li {
    display: inline-block;
    margin: 0 18px 0 18px;
    position: relative;
    ::after {
      background-color: #080808;
      content: "";
      bottom: -4px;
      height: 2px;
      width: 100%;
      left: 0%;
      position: absolute;
      transition: all 0.5s;
      transform: scaleX(0);
    }
  }
}
.header-menu__link {
  li {
    display: inline-block;
    position: relative;
    ::after {
      background-color: #080808;
      content: "";
      bottom: -2px;
      height: 2px;
      width: 100%;
      left: 0%;
      position: absolute;
      transition: all 0.5s;
      // transform: scaleX(0);
    }
    // :hover::after,
    // :focus::after {
    //   transform: scaleX(1);
    // }
    img {
      margin-left: 5px;
    }
  }
}
.heder-btn__hover {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665f55);
  display: none;
  background: url(../img/Menu_img/btn/button-icon-burger.png) no-repeat;
  background-position: center center;
}

.menu-title {
  max-width: 875px;
  margin: 0 auto;

  h1 {
    color: var(--text-dark, #403f3d);
    text-align: center;
    font-size: 60px;
    line-height: 125%; /* 75px */
    padding-bottom: 40px;
    span {
      color: var(--text-accent, #b0907a);
      font-size: 60px;
      font-style: italic;
      line-height: 125%;
    }
  }
}
.menu-btn {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.menu-hover {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.menu-btn_coffe {
  display: flex;
  width: 115px;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  // background: var(--background-container, #665f55);
  // color: var(--text-light, #e1d4c9);
  background: var(--background-container, #e1d4c9);
  color: var(--text-light, #403f3d);
  border: 1px solid var(--border-light, #c1b6ad);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  transition: all 0.8s;
}

.menu-btn_Tea {
  display: flex;
  width: 90px;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--background-container, #e1d4c9);
  color: var(--text-light, #403f3d);
  border: 1px solid var(--border-light, #c1b6ad);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  transition: all 0.8s;
}

.menu-btn_Dessert {
  display: flex;
  width: 124px;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--background-container, #e1d4c9);
  color: var(--text-light, #403f3d);
  border: 1px solid var(--border-light, #c1b6ad);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  transition: all 0.8s;
  :hover {
    background: var(--background-container, #e1d4c9);
    color: var(--text-light, #e1d4c9);
  }
}
.menu-btn_img {
  padding-top: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100px;
  background: var(--border-light, #c1b6ad);
  font-size: 16px;
  line-height: 150%; /* 24px */
  transition: all 0.8s;
}
.btn-item-active {
  background: var(--background-container, #665f55);
  color: var(--text-light, #e1d4c9);
}
.menu-btn_img_active {
  background: var(--background-container, #e1d4c9);
}

.contanier-menu {
  max-width: 1360px;
  padding: 38px 0 0 0;
  display: none;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.contanier-menu_activ {
  display: flex;
}

.cart-menu {
  cursor: pointer;
  width: 310px;
  position: relative;
  align-items: center;
  border-radius: 40px;
  border: 1px solid var(--border-light, #c1b6ad);
  margin-bottom: -3px;
}
.img {
  display: flex;
  justify-content: center;
  width: 310px;
  height: 310px;
  align-items: center;
  border-radius: 40px;
  overflow: hidden;
  object-fit: cover;
  img {
    transition: 0.8s;
    width: 310px;
    height: 310p;
    border-radius: 40px;

    transform: scale(1.1);
  }
}
.zoom {
  img {
    transform: scale(1);
  }
}
.menu-text {
  padding: 20px;
  display: grid;
  row-gap: 12px;
  grid-template-rows: 30px 72px 30px;
  h3 {
    color: var(--text-dark, #403f3d);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 30px */
  }
  p {
    color: var(--text-dark, #403f3d);

    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
  span {
    color: var(--text-dark, #403f3d);

    font-size: 24px;

    font-weight: 600;
    line-height: 125%; /* 30px */
  }
}
.btn-menu_hover {
  display: none;
  margin-top: 20px;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665f55);
  margin: 0 auto;
  background: url(../img/Menu_img/btn/refresh.svg) no-repeat;
  background-position: center center;
}
.footer-contener {
  border-radius: 40px;
  background: var(--background-container, #665f55);
  display: flex;
  max-width: 1360px;
  padding: 100px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  align-self: stretch;
  margin: 0 auto;
  margin-top: 102px;
}
.footer-content__text {
  max-width: 530px;
  padding-bottom: 40px;
  h2 {
    color: var(--text-light, #e1d4c9);
    font-size: 60px;
    font-weight: 600;
    line-height: 125%; /* 75px */
  }
  span {
    color: var(--text-accent, #b0907a);
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
  }
}
.footer-link {
  width: 530px;
  display: grid;
  grid-row: auto;
  gap: 20px;

  h3 {
    display: block;
    margin: -6px 0 21px 0;
    color: var(--text-light, #e1d4c9);
    font-size: 24px;
    font-weight: 600;
    line-height: 125%; /* 30px */
  }
  li {
    color: var(--text-light, #e1d4c9);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%; /* 24px */
    padding-left: 28px;
  }
}
.footer-link__adress {
  background: url("../img/pin-alt.svg") no-repeat;

  a {
    display: inline-block;
    position: relative;
    ::after {
      background-color: #e1d4c9;
      content: "";
      bottom: -4px;
      height: 2px;
      width: 100%;
      left: 0%;
      position: absolute;
      transition: all 0.5s;
      transform: scaleX(0);
    }
  }
}
.footer-link__phone {
  // margin: 15px 0 15px 0;
  background: url("../img/phone.svg") no-repeat;

  a {
    display: inline-block;
    position: relative;
    //margin: 10px 0 10px 0;
    ::after {
      background-color: #e1d4c9;
      content: "";
      bottom: -4px;
      height: 2px;
      width: 100%;
      left: 0%;
      position: absolute;
      transition: all 0.5s;
      transform: scaleX(0);
    }
  }
}
.footer-link__working_hours {
  background: url("../img/clock.svg") no-repeat;
}
.footer-content__sohil {
  display: flex;
}
.twitter-icon {
  transition: 1.5s;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid var(--border-light, #c1b6ad);
  display: flex;
  background: url("../img/twitter.svg") no-repeat;
  background-position: center center;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.instagram-icon {
  transition: 1.5s;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid var(--border-light, #c1b6ad);
  background: url("../img/instagram.svg") no-repeat;
  background-position: center center;
  margin: 0 12px 0 12px;
  cursor: pointer;
}

.facebook-icon {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid #c1b6ad;
  background: url("../img/facebook.svg") no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: 1.5s;
}

.popap-vraper {
  display: none;
  position: fixed;
  padding: 17px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba($color: #000000, $alpha: 0.5);
  z-index: 5;
}
.popap-vraper-active {
  display: block
}
.popap-window {
  display: flex;
  flex-wrap: nowrap;
  max-width: 800px;
  padding: 16px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 40px;
  background: var(--background-body, #e1d4c9);
  margin: 300px auto;
}
.popap-img {
  position: relative;
  align-items: center;
  width: 310px;
  height: 310px;
  flex-shrink: 0;
  overflow: hidden;
  object-fit: cover;
  border-radius: 40px;
  img {
    width: 310px;
    height: 310p;
    border-radius: 40px;
    transform: scale(1.1);
  }
}
.popap-text {
  padding-left: 18px;
}
.popap-title {
  flex-wrap: wrap;
  h3 {
    color: var(--text-dark, #403f3d);
    font-feature-settings: "clig" off, "liga" off;
    /* Desktop/Heading/heading-3 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 30px */
    margin-bottom: 12px;
  }
  span {
    color: var(--text-dark, #403f3d);
    font-feature-settings: "clig" off, "liga" off;
    /* Desktop/Body/medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
}
.poap-size_title {
  padding: 20px 0 0 0px;
  h4 {
    color: var(--text-dark, #403f3d);
    font-feature-settings: "clig" off, "liga" off;

    /* Desktop/Body/medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    padding: 0 0 8px 0px;
  }
}
.popap-btn_size_wraper {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.popap-size-btn {
  display: flex;
  width: 120px;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--background-container, #e1d4c9);
  color: var(--text-light, #403f3d);
  border: 1px solid var(--border-light, #c1b6ad);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  transition: all 0.8s;
}

.popap-size {
  padding-top: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100px;
  background: var(--border-light, #c1b6ad);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  transition: all 0.8s;
}
.popap-size-btn-active {
  background: var(--background-container, #665f55);
  color: var(--text-light, #e1d4c9);
}
.popap-size-active {
  background: var(--background-container, #e1d4c9);
}
.poap-Additives_title {
  padding: 20px 0 0 0px;
  h4 {
    color: var(--text-dark, #403f3d);
    font-feature-settings: "clig" off, "liga" off;

    /* Desktop/Body/medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    padding: 0 0 8px 0px;
  }
}
.popap-btn_Additives_wraper {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.popap-Additives-btn {
  display: flex;
  min-width: 110px;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--background-container, #e1d4c9);
  color: var(--text-light, #403f3d);
  border: 1px solid var(--border-light, #c1b6ad);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  transition: all 0.8s;
}

.popap-Additives {
  padding-top: 3px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100px;
  background: var(--border-light, #c1b6ad);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  transition: all 0.8s;
}
.popap-Additives-btn-active {
  background: var(--background-container, #665f55);
  color: var(--text-light, #e1d4c9);
}
.popap-Additives-active {
  background: var(--background-container, #e1d4c9);
}
.popap-total {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  span {
    color: var(--text-dark, #403f3d);
    font-feature-settings: "clig" off, "liga" off;
    /* Desktop/Heading/heading-3 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 30px */
  }
}

.popap-info {
  display: flex;
  padding: 12px 0px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-top: 1px solid var(--border-light, #c1b6ad);
  padding-bottom: 32px;
  span {
    display: block;
    color: var(--text-dark, #403f3d);
    font-feature-settings: "clig" off, "liga" off;
    /* Desktop/Body/caption */
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 14px */
  }
}
.popap-close {
  cursor: pointer;
  display: flex;
  padding: 10px 78px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665f55);
  span {
    color: var(--text-dark, #403f3d);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
  }
}
.popap-vraper-active {
  display: block
}
@import "media_hover";
@import "media";
