* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.conteiner {
  max-width: 1440px;
  padding: 20px 0px 40px 0px;
  align-items: center;
  gap: 100px;
  background: var(--background-body, #e1d4c9);
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  transition: all 1s;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1360px;
  align-items: center;
  align-self: stretch;
  margin: 0 auto;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 20px;
}
.header a {
  color: #403f3d;
}

.header-menu__item li {
  display: inline-block;
  margin: 0 18px 0 18px;
  position: relative;
}
.header-menu__item li ::after {
  background-color: #080808;
  content: "";
  bottom: -4px;
  height: 2px;
  width: 100%;
  left: 0%;
  position: absolute;
  transition: all 1s;
  transform: scaleX(0);
}
.header-menu__item li :hover::after,
.header-menu__item li :focus::after {
  transform: scaleX(1);
}

.header-menu__link li {
  display: inline-block;
  position: relative;
}
.header-menu__link li ::after {
  background-color: #080808;
  content: "";
  bottom: -4px;
  height: 2px;
  width: 100%;
  left: 0%;
  position: absolute;
  transition: all 1s;
  transform: scaleX(0);
}
.header-menu__link li :hover::after,
.header-menu__link li :focus::after {
  transform: scaleX(1);
}
.header-menu__link li img {
  margin-left: 5px;
}

.Enjoy {
  transition: 4s;
  max-width: 1360px;
  height: 644px;
  padding: 100px;
  border-radius: 40px;
  background: url("../img/Enjoy.png"), lightgray no-repeat;
  background-size: 100%;
  background-position: center center;
  margin: 0 auto;
  transition: all 1s;
}

.enjoy-title {
  width: 530px;
  height: 228px;
  color: var(--text-light, #e1d4c9);
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  margin: 0;
  padding: 0;
}
.enjoy-title span {
  color: var(--text-accent, #b0907a);
  font-size: 72px;
  font-style: italic;
  font-weight: 600;
  line-height: 105%; /* 75.6px */
}

.enjoy-text {
  transition: 0.5s;
  width: 530px;
  height: 72px;
  padding: 40px 0 40px 0;
  color: var(--text-light, #e1d4c9);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.enjoy-link__menu {
  max-width: 200px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--background-body, #e1d4c9);
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%; /* 24px */
  margin-top: 72px;
  transition: all 1s;
}
.enjoy-link__menu span {
  transition: 1s;
}
.enjoy-link__menu :hover img {
  visibility: visible;
}
.enjoy-link__menu :hover span {
  margin-right: 30px;
  transition: all 1s;
}

.enjoy-menu__img {
  padding-left: 60px;
  position: absolute;
  visibility: hidden;
}

.enjoy-link__menu_hover {
  transition: all 1s;
  display: flex;
  max-width: 200px;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin: 0 auto;
}

.Favourites-Coffee {
  padding: 100px 43px 100px 45px;
  display: flex;
  margin: 0 auto;
}
.Favourites-Coffee button {
  display: block;
}

.Favourites-Coffee__contener {
  margin: 0 auto;
}

.Favourites-Coffee__tile {
  color: var(--text-dark, #403f3d);
  text-align: center;
  /* Desktop/Heading/heading-2 */
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
}
.Favourites-Coffee__tile span {
  color: var(--text-accent, #b0907a);
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}

.Favourites-Coffee__img {
  width: 480px;
  height: 480px;
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.Favourites-Coffee__name {
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Heading/heading-3 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}

.Favourites-Coffee__text {
  max-width: 480px;
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Body/medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin: 16px 0 16px 0;
  margin-left: auto;
  margin-right: auto;
}

.Favourites-Coffee__price {
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Heading/heading-3 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
  padding-bottom: 40px;
}

.Favourites-Coffee__slider_left {
  display: block;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665f55);
  background-color: #e1d4c9;
  margin-top: 405px;
  background: url("../img/arrow-left.svg") no-repeat;
  background-position: center center;
  transition: all 1s;
}

.Favourites-Coffee_hover_left {
  transition: all 1s;
}
.Favourites-Coffee_hover_left :hover {
  transition: all 1s;
  background: url("../img/iconizer-arrow-left .svg") no-repeat;
  background-position: center center;
  background-color: #665f55;
}

.Favourites-Coffee__slider_right {
  display: inline-block;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665f55);
  background-color: #e1d4c9;
  margin-top: 405px;
  background: url("../img/arrow-right.svg") no-repeat;
  background-position: center center;
  transition: all 1s;
}

.Favourites-Coffee_hover_right :hover {
  transition: all 1s;
  background: url("../img/wite_arrow-right.svg") no-repeat;
  background-position: center center;
  background-color: #665f55;
}

.Favourites-Coffee__line {
  display: flex;
  max-width: 144px;
  margin: 0 auto;
  justify-content: space-between;
}
.Favourites-Coffee__line span {
  display: block;
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: var(--border-light, #c1b6ad);
}

.active span {
  background: var(--border-dark, #665f55);
}

.About {
  max-width: 1365px;
  margin: 0 auto;
}

.About-text {
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Heading/heading-2 */
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
}
.About-text span {
  color: var(--text-accent, #b0907a);
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Heading/heading-2.accent */
  font-family: Inter;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}

.about-img {
  display: flex;
  max-width: 1360px;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  flex-wrap: wrap;
  transition: all 1s;
}
.about-img :hover {
  background-size: 100%;
  transition: all 1s;
}

.about-img__one {
  display: flex;
  width: 660px;
  height: 590px;
  border-radius: 20px;
  background: url("../img/about-1.jpg");
  margin: 40px 0 40px 0;
  background-size: 110%;
  background-position: center center;
  transition: all 1s;
}

.about-img__two {
  display: flex;
  width: 660px;
  height: 430px;
  border-radius: 20px;
  background: url("../img/about-2.jpg");
  padding: 40px;
  background-size: 110%;
  background-position: center center;
  transition: all 1s;
}

.about-img__three {
  display: flex;
  width: 660px;
  height: 430px;
  border-radius: 20px;
  background: url("../img/about-3.jpg");
  margin: 40px 0 40px 0;
  background-size: 110%;
  background-position: center center;
  transition: all 1s;
}

.about-img__four {
  display: flex;
  margin-bottom: 40px;
  width: 660px;
  height: 590px;
  border-radius: 20px;
  background: url("../img/about-4.jpg");
  align-self: flex-start;
  background-size: 110%;
  background-position: center center;
  transition: all 1s;
}

.Mobile-App {
  display: flex;
  max-width: 1360px;
  justify-content: center;
  align-items: center;
}

.Mobile-App__content {
  max-width: 630px;
}
.Mobile-App__content h2 {
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Heading/heading-2 */
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
.Mobile-App__content h2 span {
  color: var(--text-accent, #b0907a);
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Heading/heading-2.accent */
  font-family: Inter;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%; /* 75px */
}
.Mobile-App__content p {
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Body/medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding: 41px 0 38px 0;
}

.Mobile-App__wrape {
  display: flex;
}

.Mobile-App__btn_apple {
  display: flex;
  width: 200px;
  padding: 12px 20px;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #665f55;
  transition: all 1s;
}

.img-apple {
  background-image: url("../img/icon.svg");
  width: 36px;
  height: 36px;
  transition: all 1s;
}

.text-apple li {
  display: inline-block;
  font-size: 10px;
  color: var(--text-dark, #403f3d);
  margin: 3px 0 0 8px;
  transition: all 1s;
}
.text-apple span {
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  color: var(--text-dark, #403f3d);
  padding-top: 5px;
  transition: all 1s;
}

.Mobile-App__wrape_apple {
  width: 200px;
  cursor: pointer;
}
.Mobile-App__wrape_apple :hover {
  transition: all 1s;
  background-color: #665f55;
  color: #e1d4c9;
}
.Mobile-App__wrape_apple :hover .img-apple {
  background: url("../img/icon apple.svg") no-repeat;
  transition: all 1s;
}
.Mobile-App__wrape_apple :hover .text-apple {
  background: none;
  color: #e1d4c9;
  transition: all 1s;
}
.Mobile-App__wrape_apple :hover li {
  background: none;
  color: #e1d4c9;
  transition: all 1s;
}
.Mobile-App__wrape_apple :hover span {
  background: none;
  color: #e1d4c9;
  transition: all 1s;
}

.Mobile-App__btn_google {
  display: flex;
  width: 200px;
  padding: 12px 20px;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #665f55;
  transition: all 1s;
}

.img-google {
  transition: all 1s;
  background-image: url("../img/icon google black.svg");
  width: 36px;
  height: 36px;
}

.text-google li {
  display: inline-block;
  font-size: 10px;
  color: var(--text-dark, #403f3d);
  margin: 3px 0 0 8px;
  transition: all 1s;
}
.text-google span {
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  color: var(--text-dark, #403f3d);
  padding-top: 5px;
  transition: all 1s;
}

.Mobile-App__wrape_google {
  width: 200px;
  padding-left: 20px;
  cursor: pointer;
  transition: all 1s;
}
.Mobile-App__wrape_google :hover {
  transition: all 1s;
  background-color: #665f55;
  color: #e1d4c9;
}
.Mobile-App__wrape_google :hover .img-google {
  background: url("../img/icon google.svg") no-repeat;
  transition: all 1s;
}
.Mobile-App__wrape_google :hover .text-google {
  background: none;
  color: #e1d4c9;
  transition: all 1s;
}
.Mobile-App__wrape_google :hover li {
  background: none;
  color: #e1d4c9;
  transition: all 1s;
}
.Mobile-App__wrape_google :hover span {
  background: none;
  color: #e1d4c9;
  transition: all 1s;
}

.Mobile-App__img {
  width: 630px;
  height: 630px;
}

.footer-contener {
  border-radius: 40px;
  background: var(--background-container, #665f55);
  display: flex;
  max-width: 1360px;
  padding: 100px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  align-self: stretch;
  margin: 0 auto;
  margin-top: 100px;
}

.footer-content__text {
  width: 530px;
  padding-bottom: 40px;
}
.footer-content__text h2 {
  color: var(--text-light, #e1d4c9);
  font-size: 60px;
  font-weight: 600;
  line-height: 125%; /* 75px */
}
.footer-content__text span {
  color: var(--text-accent, #b0907a);
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}

.footer-link {
  width: 530px;
}
.footer-link h3 {
  margin: 0 0 40px 0;
  color: var(--text-light, #e1d4c9);
  font-size: 24px;
  font-weight: 600;
  line-height: 125%; /* 30px */
}
.footer-link li {
  color: var(--text-light, #e1d4c9);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%; /* 24px */
  padding-left: 28px;
}

.footer-link__adress {
  background: url("../img/pin-alt.svg") no-repeat;
}
.footer-link__adress a {
  display: inline-block;
  position: relative;
}
.footer-link__adress a ::after {
  background-color: #e1d4c9;
  content: "";
  bottom: -4px;
  height: 2px;
  width: 100%;
  left: 0%;
  position: absolute;
  transition: all 1s;
  transform: scaleX(0);
}
.footer-link__adress a :hover::after,
.footer-link__adress a :focus::after {
  transform: scaleX(1);
}

.footer-link__phone {
  margin: 16px 0 16px 0;
  background: url("../img/phone.svg") no-repeat;
}
.footer-link__phone a {
  display: inline-block;
  position: relative;
}
.footer-link__phone a ::after {
  background-color: #e1d4c9;
  content: "";
  bottom: -4px;
  height: 2px;
  width: 100%;
  left: 0%;
  position: absolute;
  transition: all 1s;
  transform: scaleX(0);
}
.footer-link__phone a :hover::after,
.footer-link__phone a :focus::after {
  transform: scaleX(1);
}

.footer-link__working_hours {
  background: url("../img/clock.svg") no-repeat;
}

.footer-content__sohil {
  display: flex;
}

.twitter-icon {
  transition: all 1s;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid var(--border-light, #c1b6ad);
  display: flex;
  background: url("../img/twitter.svg") no-repeat;
  background-position: center center;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.twitter :hover {
  border: 1px solid var(--border-light, #c1b6ad);
  background: url("../img/iconizer-twitter.svg") no-repeat;
  background-color: #e1d4c9;
  background-position: center center;
}

.instagram-icon {
  transition: all 1s;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid var(--border-light, #c1b6ad);
  background: url("../img/instagram.svg") no-repeat;
  background-position: center center;
  margin: 0 12px 0 12px;
  cursor: pointer;
}

.instagram :hover {
  border: 1px solid var(--border-light, #c1b6ad);
  background: url("../img/instagram-black.svg") no-repeat;
  background-color: #e1d4c9;
  background-position: center center;
}

.facebook-icon {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid #c1b6ad;
  background: url("../img/facebook.svg") no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: all 1s;
}

.facebook :hover {
  border: 1px solid var(--border-light, #c1b6ad);
  background: url("../img/iconizer-facebook.svg") no-repeat;
  background-color: #e1d4c9;
  background-position: center center;
}/*# sourceMappingURL=style.css.map */